@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600&display=swap');

/* Header */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: Raleway, sans-serif;
    font-size: 16px;
    font-weight: 300;
    background-image: url(../Imgs/Screenshot_1.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    
    
}




header{
    min-height: 100px;
   
}

#top{
    
    
    margin: auto;
    height: 100px;

    display: flex;
    justify-content: center;

    /* centrar en vertical */
    align-items: center;

}

#top a, #bottom a {
    color: #fff;
    
}

#top a{
    
    font-size: 20px;
    font-weight: 600;
    
}

#top nav a{
    font-size: 20px;
    padding: 14px;
}

/* Header Fin */ 


/* Body */

/* Titulo con lineas */

.Tabla{
text-align: center;
padding-top: 17px;
font-family: sans-serif;
margin-bottom: -14px;
color: #fff;
position: relative;
}


.Linea-tabla{
    border: 1px solid;
    margin-top: -50px ;
    color: rgb(197, 195, 195);
   justify-content: center;
}

.Linea-tabla2{
    border: 1px solid;
    margin-top: 60px ;
    color: rgb(197, 195, 195);
}

/* Titulo con lineas FIN*/

/* Tabla*/

table{
margin-top: 30px;
text-align: center;
color: white;
position: relative;
font-size: 17px;

}
    

    

img {
width: 3.5vh;

}

/* Espacio entre los puestos*/
.Espacio{
    height: 44px;

}



